<form action="/todos" method="POST">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="name" placeholder="new todo" aria-label="Text input with checkbox">
    <button class="btn btn-success" type="submit">Create</button>
  </div>
</form>

